@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  padding: 8px 26px;
  background-color: #0095f8;
  color: #fff;
  border-radius: 10px;
}

body {
  background-color: #fff;
  color: #111;
}

.container {
  padding: 16px;
  margin: 0 auto;
}

header {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding: 16px;
  border-top: 1px solid #ccc;
}


